
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
  
justify-content: center;
background-color:white;
}
.header{
    font-size: 100px;
}
.container{
    position: relative;
    column-count: 3;
    column-gap: 1px;
   padding: 50px;
    margin:0 15px;
 
    width:1000px;
    background-color:whitesmoke;
 
    
   
}


.container form{
    position: relative;
   
    min-height: 574px;
   background-color:white;
  
}
.input-field input{
    outline:none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border:1px solid #aaa;
    padding: 0 40px;
    height: 35px;
    margin: 8px 0;
   
}
.input-field select{
    outline:none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border:1px solid #aaa;
    padding: 0 15px;
    height: 35px;
    margin: 8px 0;
   
}



input [type=text]
{
  width: 100%;
  padding: 10px;
  display:inline-block;
  margin: 8px 0;
  box-sizing:border-box ;
  


}
.input-field{
    position: relative;
}
.input-field i 
{
    position: absolute;
    left:14px;
    top: 35px;
    color: gray;
}