@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
body{  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color:white;  
}  
.container {  
    display:grid;
    margin: auto;
    justify-content:center ;
    align-items:center;
    font-size: 18px;
    height:600px;
    width:40%;
  background-color:rgb(247, 223, 243);  
}  
  
.container input
{
    width:65%;
    height:30px;
    padding:10px 15px;
    border:1px solid;
   
}

.container input[type=text]
{
    width:50%;
    padding:5px 10px;
    border:1px solid;
    box-sizing:border-box;
}
.container input[type=phone]{
    width:50%;
    padding:5px 10px;
    border:1px solid;
    box-sizing:border-box;
    
}
.container input[type=date]
{
    width:50%;height:10px;
    padding:15px 10px;
    border:1px solid;
    box-sizing:border-box;
    
}

.container textarea{
    width:50%;
    height: 40px;
    border:1px solid;
     }
 
 .container input[type=radio]{
   width:15px;
   height:15px;
 }
 .container input[type="checkbox"] 
 {
        height: 15px;
        width: 15px;
        background-color: #ffffff;
    }
.container select{
    width:35%;
    padding: 8px;
    border:1px solid;
   
}

.button input {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #9e0bf3;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
  }
  
  .button input:hover,
  .button input:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
  }
  
  .button input:active {
      opacity: 1;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
      transition: 0.1s ease;
    }
