body 
{
	margin:30px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: left;
	background-color:rgb(247, 223, 243); 
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li
 {
	font-size: 20px;
	font-family: sans-serif;
	background-color: rgb(7, 185, 255);
	border: 2px solid rgb(98, 111, 219);
	letter-spacing: 0.1em;
	width: 5em;
	height: 1.5em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
}

nav ul li span {
	color: rgb(0, 129, 209);
	mix-blend-mode: multiply;
}

nav ul li::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: .7s ease-out;
}

nav ul li:hover::before {
	transform: scale(7);
}
