Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin:0;
    padding:0;   
}

#sidebar{
    position:fixed;
    width:300px;
    height:100%;
    background-color: black;
    left:-300px;
    transition:all 1s linear;
}
#sidebar.active{
    left:0px;
}
#sidebar ul li{
    color:white;
    list-style: none;
    padding: 20px 20px;
    border-bottom:2px solid white;
}
#sidebar .togglemenu{
    position: absolute;
    left:320px;
    top:20px;
}
#sidebar .togglemenu span{
    display:block;
    width:30px;
    height:5px;
    margin:3px 5px;
    background-color: black;
}
